<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
    <header role="banner" class="oj-hybrid-applayout-header">
      <oj-module config="[[headerConfig]]"></oj-module>
    </header>
  </div>
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
     <div class="oj-hybrid-padding">
      <h1>Bienvenido, <span data-bind="html : userName"></span></h1>
      <span data-bind="html : error" style="color : red"></span>
      <div>
        <textarea data-bind="value : postText" rows="4" cols="30" placeholder="Escribe aquí tu post"></textarea>
        <br>
        <button data-bind="click : newPost">Publicar</button>
      </div>
    </div>
    <!-- ko foreach : posts-->
      <ul>
        <li>
            <p data-bind="html : author">
            </p>
          <p>
            <i data-bind="html : text"></i>
            <button data-bind="click : function() { $parent.deletePost($data); }">Eliminar este post</button>
            <br>
            <a data-bind="click : function() { $parent.showComments($data); }">
              <span data-bind="html : comments"></span>
              &nbsp;
              comentarios
            </a>
            <br>
            <!-- ko foreach : subposts -->
              <ul>
                <li>
                  <p data-bind="html : author"></p>
                  <p data-bind="html : text"></p>
                </li>                      
              </ul>
            <!-- /ko -->
              &nbsp;
            <a data-bind="click : function() { $parent.enableComments($data); }, visible : !commentEnabled()">Comentar</a>
            <div data-bind="visible : commentEnabled()">
              <textarea data-bind="value : commentText" rows="4" cols="30" placeholder="Escribe aquí tu comentario"></textarea>
              <br>
              <button data-bind="click : function() { $parent.sendComment($data); }">Publicar comentario</button>
            </div>
          </p>
        </li>
      </ul>
    <!-- /ko -->
    </div>
  </div>
</div>